/* ============================================================
 init
============================================================ */
body {
	color:#333;
	line-height:1.5;}

/* tag
------------------------------------------------------------ */
img {
	border:0;
	vertical-align:bottom;
	height: auto;}

a:link,
a:visited {
	text-decoration:none;}

a:hover,
a:active,
a:focus {
	text-decoration:none;}


/* class
------------------------------------------------------------ */
.clearfix { zoom:1;}
.clearfix:after {
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;}

.hgroup,
.block,
.outer,
.inner,
.row,
.box,
.cell,
ul,
dl {
	position:relative;
	zoom:1;}

.hgroup:after,
.block:after,
.outer:after,
.inner:after,
.row:after,
.box:after,
.cell:after,
ul:after,
dl:after  {
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;}

.box,
.cell { float:left;}

.box.right,
.cell.right { float:right;}

.spElement {
	display: none !important;
}

@media screen and (max-width: 737px) { /* for SP */
	.spElement {
		display: block !important;
	}
	.pcElement {
		display: none !important;
	}
	.wordBreak {
		display: none;
	}
}


/* js予約 */
.btn {}
.rollover {}
.imgLink {}

/* sample
------------------------------------------------------------ */
.sample {
	opacity:0.5;
	filter: alpha(opacity=50);			/* ie lt 8 */
	-ms-filter: "alpha(opacity=50)";	/* ie 8 */
	-moz-opacity:0.5;					/* FF lt 1.5, Netscape */
	-khtml-opacity: 0.5; /* Safari 1.x */}

.sample2 {
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);}

/* font
------------------------------------------------------------ */
.fs10 { font-size: 10px;}
.fs12 { font-size: 12px;}
.fs13 { font-size: 13px;}
.fs14 { font-size: 14px;}
.fs16 { font-size: 16px;}
.fs18 { font-size: 18px;}
.fs20 { font-size: 20px;}
.fs22 { font-size: 22px;}
.fs24 { font-size: 24px;}
.fs28 { font-size: 28px;}
.fs30 { font-size: 30px;}
.fs32 { font-size: 32px;}
.fs36 { font-size: 36px;}
.fs40 { font-size: 40px;}
.fs68 { font-size: 68px;}
